{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block body %}
    <div class="about-container">
        <div class="about-section">
            <h1>About</h1>
            <p>This ToDo list is my very first project using Flask, a micro web framework written in Python. As an introductory venture into web development, this app has been a significant learning experience, allowing me to explore the intricacies of web application structure, from front-end design to back-end functionality.</p>
            <p>As the sole creator of this application, I've designed and implemented the entire project during my time at <strong>IIT Patna</strong>. It has been a rewarding experience that has allowed me to apply my skills in a practical setting.</p>
            <p>If you're interested in learning more about my journey or discussing potential collaborations, feel free to connect with me on LinkedIn:</p>
            <p><a href="https://www.linkedin.com/in/saurav-kumar-61b43a25b/" target="_blank">Connect on LinkedIn</a></p>
        </div>
    </div>
{% endblock body %}